/* General */
* {
    font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji", monospace;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    min-height: 10px;
    background-color: rgba(20, 20, 20, 0);
    color: #ffffff;
}

/* LEFT */
.modules-left {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 3px 0 3px 6px;
}

/* CENTER */
.modules-center {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 3px 0;
}

/* RIGHT */
.modules-right {
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    margin: 3px 6px 3px 0;
}

/* Module spacing */
#cpu,
#memory,
#custom-gpu,
#clock,
#pulseaudio,
#mpris,
#custom-power,
#temperature,
#network,
#bluetooth,
#backlight,
#custom-kbd-backlight,
#battery,
#custom-external-monitor {
    padding: 0 10px;
    margin: 0 2px;
}

/* Power */
#custom-power {
    color: #ffffff;
    font-size: 15px;
    margin-right: 10px;
}

/* MPRIS */
#mpris {
    min-width: 0;
}

/* Clock */
#clock {
    font-weight: bold;
}

/* Temperature */
#temperature.critical {
    color: #ff5555;
}

/* Battery */
#battery.warning {
    color: #f1fa8c;
}

#battery.critical {
    color: #ff5555;
}

#battery.charging {
    color: #50fa7b;
}

/* Network */
#network.wifi,
#network.ethernet {
    color: #ffffff;
    font-weight: bold;
}

#network.disconnected,
#network.disabled,
#network.linked {
    color: #6c7086;
    font-weight: normal;
}

/* Bluetooth */
#bluetooth.on,
#bluetooth.connected {
    color: #ffffff;
    font-weight: bold;
}

#bluetooth.off,
#bluetooth.disabled {
    color: #6c7086;
    font-weight: normal;
}

/* Keyboard backlight */
#custom-kbd-backlight.off {
    color: #6c7086;
    font-weight: normal;
}

#custom-kbd-backlight.low {
    color: #ffffff;
    font-weight: normal;
}

#custom-kbd-backlight.high {
    color: #f1fa8c;
    font-weight: bold;
}

/* Tooltip */
tooltip {
    background-color: rgba(20, 20, 20, 0.4);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 25px;
}

tooltip label {
    color: #ffffff;
    font-size: 11px;
    padding: 0;
    margin: 0;
}

/* Interactive hover effect */
#cpu,
#memory,
#custom-gpu,
#temperature,
#clock,
#pulseaudio,
#mpris,
#custom-power,
#network,
#bluetooth,
#backlight,
#custom-kbd-backlight,
#battery,
#custom-external-monitor {
    transition: font-size 0.15s ease;
}

#cpu:hover,
#memory:hover,
#custom-gpu:hover,
#temperature:hover,
#clock:hover,
#pulseaudio:hover,
#mpris:hover,
#custom-power:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#custom-kbd-backlight:hover,
#battery:hover,
#custom-external-monitor:hover {
    font-size: 14px;
}
